.ui.container.grid.middle.aligned
  .row.six.column
    .column
      = image_tag 'logo.png', class: 'logo ui middle aligned image', size: '84x84'
    .column
      %h1 Beauty Shop
      %span Beauty and Confident
.ui.borderless.main.menu.sticky-nav
  .ui.container
    .header.item.sticky-logo-js.pl-0.hide{:href => "#"}
      = image_tag 'logo.png', class: 'logo mr-10'
      Beauty Shop
    %a.item.pl-0{:href => "#"} How
    %a.item{:href => "#"} Special
    .right.menu
      .item
        .ui.search
          .ui.icon.input
            %input.prompt{:placeholder => "Type beauty product ...", :type => "text"}/
            %i.search.icon
          .results
      = render 'layouts/cart_header'
      - if user_signed_in?
        .ui.dropdown.item{:href => "#", :tabindex => "0"}
          - if current_user.avatar.file?
            = image_tag current_user.avatar.url(:thumb), size: '46x46', class: 'ui circular image'
          - else
            = image_tag 'missing', size: '46x46', class: 'ui circular image'
          %i.dropdown.icon
          .menu{:tabindex => "-1"}
            .item Link Item
            .item Link Item
            = link_to destroy_user_session_path, method: :delete, class: 'item' do
              = semantic_icon 'sign out'
              Logout
      - else
        .menu
          .item
            = link_to new_user_session_path, class: 'ui button positive' do
              = semantic_icon 'sign in'
              Sign in

